body{
    background-color: #eee;
}

.section-heading {
    font-size: 20px;
    font-weight: bold;
}

.logo {
    color: lightgreen;
    font-weight: bolder;
}

.jumbotron {
    background-color: #ccc;
    border-radius: 10px;
    padding: 10px;
}